
    <ng-container *ngIf="displayedEpisodes.length > 0">
      <ng-container *ngFor="let item of displayedEpisodes">

        <app-display-episode [episode]="item"></app-display-episode>
      </ng-container>
    </ng-container>

    <nav>
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item "><a class="page-link" (click)="getFirstPage()">First Page</a></li>
        <li class="page-item {{desactiverBoutonPrec}}"><a class="page-link"  (click)="pagePrecedente()">&lsaquo;</a></li>
        <li class="page-item"><a class="page-link">{{numeroPage}}</a></li>
        <li class="page-item {{desactiverBoutonSuiv}} "><a class="page-link" (click)="pageSuivante()">&rsaquo;</a></li>
        <li class="page-item "><a class="page-link" (click)="getLastPage()">Last Page</a></li>
      </ul>
    </nav>
