<div class="container mt-4">
  <div class="ms-5">
    <h2 class="mt-1 mb-3 text-decoration-underline">A-propos</h2>
    <h3 class="ms-1">Membres :</h3>
    <ul class="ms-4">
      <li>Angileri Lorenzo</li>
      <li>Benet François</li>
      <li>Tuveny Sylvain</li>
    </ul>
  </div>

  <div class="ms-5 ">
    <h3 class="ms-1">Description :</h3>
    <p class="ms-2">
      Ce projet recrée les fonctionnalités principales d'un site de centralisation de tous ce qui porte sur la culture
      anime japonaise (actuellement que les anime).
    </p>
  </div>

  <div class="ms-5 ">
    <h3 class="ms-1">Fonctionnalités :</h3>
    <ul class="ms-2">
      <li>Page accueil avec les derniers épisodes sorties et les animés populaire</li>
      <li>Page sorties qui affiches une liste paginée des derniers épisodes sorties</li>
      <li>Page anime qui affiche la liste d'anime avec une barre de recherche</li>
      <li>Page saisons permettant de filtré les contenus sortie par année et saison</li>
    </ul>
  </div>

  <div class="ms-5 ">
    <h3 class="ms-1">Ressources :</h3>
    <ul class="ms-2">
      <li><a class="text-decoration-none" href="https://angular.io/docs">Documentation Angular</a></li>
      <li><a class="text-decoration-none" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">Documentation
        Bootstrap</a></li>
      <li><a class="text-decoration-none" href="https://developer.mozilla.org/fr/">MDN</a></li>
      <li><a class="text-decoration-none" href="https://kitsu.docs.apiary.io/#">API kitsu</a></li>
      <li><a class="text-decoration-none" href="https://m3.material.io/">material.io</a></li>
    </ul>
  </div>

  <div class="align-items-center flex-fill d-flex justify-content-center">
    <p>
      Projet réalisé dans le cadre de l'évaluation d'angular de janvier 2023 sous angular 14.
    </p>
  </div>
</div>
