<div class="ms-5 ">
  <h2 class="mt-1 text-decoration-underline">ABOUT</h2>
  <h3 class="ms-1">MEMBRES :</h3>
  <ul class="ms-4">
    <li>Angileri Lorenzo</li>
    <li>Benet François</li>
    <li>Tuveny Sylvain</li>
  </ul>
</div>

<div class="ms-5 ">
  <h3 class="ms-1">DESCRIPTION :</h3>
  <p class="ms-2">
    ce projet recrée les fonctionnalités principales d'un site de centralisation de tous ce qui porte sur la culture anime japonaise
  </p>
</div>

<div class="ms-5 ">
  <h3 class="ms-1">FONCTIONNALITES :</h3>
  <ul class="ms-2">
    <li>page accueil avec les derniers épisodes sorties et les animés populaire </li>
    <li>page sorties qui affiches une liste paginée des derniers épisodes sorties</li>
    <li>page anime qui affiche la liste d'anime par ordre alphabétique avec liens à la page de description pour chacun</li>
    <li>page saisons permettant de filtré les contenus sortie par année et saison</li>
  </ul>
</div>

<div class="ms-5 ">
  <h3 class="ms-1">RESSOURCES :</h3>
  <ul class="ms-2">
    <li><a class="text-decoration-none" href="https://angular.io/docs">documentation angular</a></li>
    <li><a class="text-decoration-none" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/">documentation bootstrap</a></li>
    <li><a class="text-decoration-none" href="https://developer.mozilla.org/fr/">mdn</a></li>
    <li><a class="text-decoration-none" href="https://kitsu.docs.apiary.io/#">API kitsu</a></li>
    <li><a class="text-decoration-none" href="https://m3.material.io/">material.io</a></li>
  </ul>
</div>

<div class="align-items-center flex-fill d-flex justify-content-center">
  <p>
    Projet réalisé dans le cadre de l'évaluation d'angular de janvier 2023 sous angular 14, mis-en-page avec bootstrap.
  </p>
</div>
