
<div >
  <app-categories-saison [categorie]="'ANIME :'" [liste]="displayTV" ></app-categories-saison>
  <app-categories-saison [categorie]="'FILM :'" [liste]="displayfilm" ></app-categories-saison>
  <app-categories-saison [categorie]="'OAV :'" [liste]="displayOAV" ></app-categories-saison>
  <app-categories-saison [categorie]="'ONA :'" [liste]="displayONA" ></app-categories-saison>
  <app-categories-saison [categorie]="'MUSIC :'" [liste]="displaymusic" ></app-categories-saison>
  <app-categories-saison [categorie]="'SPECIAL :'" [liste]="displayspecial" ></app-categories-saison>
</div>
